{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h1 id="users">Users</h1>
    <a style="margin-left:30%;" id="logout" href="{% url 'logout' %}">Log Out</a>
    <a style="margin-left:30%;" id="editProfile" href="/rooms/profile">Edit Profile</a>






    <div id="userContainer" class="main">
        {% for user in users %}
        <div class="userCard">
            <a id="goTo" href="/rooms/room/{{user.id}}">Go to room</a>
            <p class="profileField">Username: {{ user.username }}</p>
            <p class="profileField">Bio: {{ user.profile.bio }}</p>
            <p class="profileField">Location: {{ user.profile.location }}</p>
            <p class="profileField">Phone Number: {{ user.profile.phone_number }}</p>
            {% if user.profile.profile_pic_url %}
            <img src="{{ MEDIA_URL }}{{ user.profile.profile_pic_url }}" alt="Profile Picture"> {% else %}
            <p id="noPic">No profile picture available.</p>
            {% endif %}
            <hr/>
        </div>
        {% empty %}
        <p>No users found.</p>
        {% endfor %}
    </div>
</body>

</html>