{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div id="wrapper">
        <h1 id="logInHeader">messagingApp</h1>


        <form id="loginForm" method="POST" enctype="multipart/form-data">
            <div id="loginHdr">Log Into messagingApp</div>

            {% csrf_token %}


            <div id="inputCont">
                <input type="text" name="username" id="id_username" required placeholder="username" autocomplete="username" autofocus>
                <input type="password" name="password" id="id_password" placeholder="password" required autocomplete="current-password">
                <input type="submit" value="Submit">
            </div>

            <div id="divideCont">
                <span class="loginDivider"></span>
                <span class="loginOr">or</span>
                <span class="loginDivider"></span>
            </div>

            <button onClick="window.location.href='/signUp'" class="newActBtn">Create new account</button>




        </form>
    </div>
    <div id="whitebar" style="height:30vh"></div>

</body>

</html>