{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h1 id="welcomeRooms">Welcome to rooms</h1>
    <button id="signupBtn"><a id="signUpRooms" href="/rooms/signUp">Sign Up</a></button>
    <h1 style="margin-left:30%;">Users</h1>
    <div class="main">
        {% for user in users %}
        <div id="user-card">
            <p class="username">{{ user.username }}</p>
            <p style="display:none;" class="password">{{ user.password }}</p>
            <hr />
        </div>
        <br/>
        <hr/> {% empty %}
        <p>No users found.</p>
        {% endfor %}
    </div>

</body>

</html>